img {
    width: 6.6rem;
}

.tel {
    font-size: 0.8rem;
}

.mail {
    font-size: 0.7rem;
}

i {
    cursor: pointer;
}

div.col-3.m-2 > a {
    color:black;
}

.modal {
  display: none;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-show {
  display: flex;  
}
